body {
    background-color: black;
    text-align: center;
  }
  
  h1{
    color: rgb(255, 0, 0);
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  ul,ol,tr{
      color: red;
      font-family: initial;
      font-size: 20px;
      text-align: center ;
  }