body {
    background-image: url("vuori.jpg");
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  ul,ol{
      font-family: initial;
      font-size: 20px;
      text-align: center ;
  }