body {
    background-color:#98b0b1;
    text-align: center;
    color: red;
  }
  
  h2{
    color: rgb(0, 0, 255);
    text-align: center;
    font-size: 50px;
  }
  h1{
    color: green;
    text-align: center;
    font-size: 50px;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  ul,tr{
      color: green;
      font-family: initial;
      font-size: 40px;
  }
  #panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #4b4b4b;
    border: solid 1px #4b4b4b;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red;
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }
  ul {
    vertical-align: center;
    list-style: inside;
  }
  ol {
    color: blue;
    vertical-align: center;
    list-style: inside;
    font-size: 40px;
    font-family: initial;
  }